*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}


.list-item {
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.button {
    border: none;
    width: 50px;
    height: 50px;
    background-color: rgb(228, 1, 1);
    color: white;

}

.button:hover {
    background-color: rgb(184, 0, 0);
 

}

.text-linethrough{
    text-decoration: line-through;
}
